<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>



<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="logo.png">
    </a>
    <h1>Meet</h1>
    <p>A hyperlocal People discovery application. Whom will you Meet today?</p>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/joelbandi"><span class="glyphicon "></span> Meet the Team.</a>
  </div>
</div>
<table>
    <tr>
      <th>API route</th>
      <th></th>
      <th>Function</th>
    </tr>
    <tr>
      <td>/fb/:access_token/:app_scoped_queryid</td>
      <td>-----------------</td>
      <td>Returns mutual context between caller and the specified user</td>
    </tr>
  </table>

  <br>
  <strong>
    Demo call: -> http://meetapi.herokuapp.com/fb/EAAOcRXpJKFMBADNBVhqMLAjwBJG9SoEJdcptXmmPb7Nx6aCt1RSWQ1Xh8mYUtfcmCy3LnvjtwBBSZAU7lWeUr3hgzjPMBboU3T8h2XCKfQsFj4ZB3mrvJNjOh1E0CVTMQ3<br>T9P8N3019ZCN3mayusfDMh11jZBosPT1i2BY8A4YYnOO1uLWKlvhkZCjUwZAZAbA49fYOaTJlO4IczUpv35wF/1134529013256808
</strong>
<br>
<a href="http://meetapi.herokuapp.com/fb/EAAOcRXpJKFMBADNBVhqMLAjwBJG9SoEJdcptXmmPb7Nx6aCt1RSWQ1Xh8mYUtfcmCy3LnvjtwBBSZAU7lWeUr3hgzjPMBboU3T8h2XCKfQsFj4ZB3mrvJNjOh1E0CVTMQ3T9P8N3019ZCN3mayusfDMh11jZBosPT1i2BY8A4YYnOO1uLWKlvhkZCjUwZAZAbA49fYOaTJlO4IczUpv35wF/1134529013256808">Click Here to go there</a>
</body>
</html>
